fastai==2.7.13
torch==2.1.2
torchvision==0.16.2
--extra-index-url https://download.pytorch.org/whl/cpu

ipywidgets
matplotlib
pandas
sentencepiece
azure-cognitiveservices-search-imagesearch
graphviz
voila
numpy==1.26.4
